branches:
  only:
    - master

install:
  - set QTDIR=C:\Qt\5.12.5\mingw73_64
  - choco install -y InnoSetup
  - set PATH=%QTDIR%\bin;C:\Qt\Tools\mingw730_32\bin;%PATH%;"C:\Program Files (x86)\Inno Setup 5"
build_script:
  - qmake eNoseAnnotator.pro
  - MinGW-w64-make
  - RENAME release/app.exe eNoseAnnotator.exe
after_build:
  - windeployqt release/eNoseAnnotator.exe
  - cmd: cp LICENSE release/LICENSE.txt"
  - iscc innosetup.iss
  - rm release/*.o
  - rm release/*.cpp

artifacts:
  - path: Output\eNoseAnnotator-*.exe
  - path: release
    type: zip
